 body{
	font-family: 'Defectica';
	 background-color:#1E1E1E; 
}
.main{
height:700px;
left: 0px;
top: 0px;
background-image: url(../img/99mmm.png);
background-repeat: no-repeat;
background-position: 50% 30%;
background-color: #1D2C43;
height: calc(100% - 0px);
	
}

.logo{	
position: absolute;
font-size: 36px;
height: 40px;
top: 15px;
font-family: 'Defectica';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
	color: #CED6E3;}

.menu {
float: left;
}

.menu li a {
float: left;
margin-top: 19px;
font-weight: 400;
font-size: 20px;
color: #CED6E3;
margin-right: 45px;
text-decoration: none;
}

nav{
height: 70px;
background: #1D2C43;
z-index: 10;
position: fixed;
top: 0;
left: 0;
width: 100%;

	
}
.fed{
font-weight: 400;
font-size: 96px;
line-height: 106px;
color: #CED6E3;
text-transform: uppercase;
padding-top: 250px;

}
.sem{
font-weight: 400;
font-size: 96px;
line-height: 106px;
color: #CED6E3;
text-transform: uppercase;	
	/*padding-top: -83px;*/
}
.made{
color: white;
font-weight: 400;
font-size: 24px;
line-height: 26px;
text-transform: uppercase;
padding-top: -42px;
}
.case_Input li a{
text-decoration: none;
color: #CED6E3;
float: left;
border: 1px solid #CED6E3;
font-size: 20px;
padding: 5px;
margin-left: -25px;
}

.second_Input li a{
text-decoration: none;
color: #CED6E3;
float: left;
border: 1px solid #CED6E3;
font-size: 20px;
padding: 5px;
margin-left: -32px;
}

@media(max-width: 991px){
	.title_container{
	color: white;
	position: relative;
		z-index: 2;
	}
	.main{position: relative;}
	.main::after{
		content: "";
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		background: rgba(0,0,0,0.4)
	}
	.about_me p{
		color: white;
	position: relative;
		z-index: 3;
	}
	.about_me{position: relative;}
	.about_me::after{
		content: "";
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		background: rgba(0,0,0,0.4)
	}}
@media(max-width: 477px){
	.fed, .sem{ font-size: 70px;
	;}
}




.aboutMe{
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 106px;
color: #CED6E3;
padding-top: 90px;

}
.about_me{
height: 700px;
background:  url(../img/8oBEZ-Sh5Uh-tMb0Au1hc2JocFZ5L6c-CjB_f0GRvMoJytxO9z12OqfqK3c1vjZ83covWya67JJMMDIY4BpxC6fW.png) 80% 100%/auto 100% no-repeat ,url(../img/Rectangle%2010.png) 90% 100%/auto 100% no-repeat , url(../img/Rectangle%2011.png) 90% 100%/auto 100% no-repeat ;
background-color: #4E6D9C;
}
.FS{
font-weight: 500;
font-size: 32px;
line-height: 39px;
padding-top: 42px;	
color: #CED6E3;
}
.im{
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;	
color: #CED6E3;
padding-top: 43px;
}

@media(max-width: 576px){
	.aboutMe{
	font-size: 70px;
	text-align: center;
	}
	.case_i{
		font-size: center;
	}
}


.services{
	height: 850px;
	background-color: #1E1E1E;
	background: url(../img/Group%203.png) 12% 40%/auto 50% no-repeat, url(../img/Group%204.png) 37% 80%/auto 50% no-repeat, url(../img/Group%205.png) 64% 70%/auto 50% no-repeat, url(../img/Group%206.png) 89% 55%/auto 50% no-repeat ;
	background-color: #1E1E1E;
}

.services_p{
font-family: 'Defectica';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 106px;
color: #CED6E3;
padding-top: 85px;
}

.services section{
 color: #CED6E3;
}
/*
.Vector1{
	margin-top: -66px;
}
*/
.mini_img1{
margin-top: 70px;
	padding-right: 10px;
}

.services1{
padding-top: 20px;
padding-right: 16px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: black;
}

.Vectorbig1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #000000;
	margin-right: 15px;
}
/*
.Vector2{
	margin-top: -108px;
	margin-left: 31.333%;
}

.mini_img2{
margin-left:-157px;
margin-top: -233px;}

.services2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: black;
margin-top: -229px;
margin-left: 36.333%;
}

.Vectorbig1{
margin-left: 496px;	
}
*/

.case_i{
font-family: 'Defectica';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 106px;
color: #CED6E3;

}
.case_img{
	margin-top: 81px;
	max-width: 100%;
}

.landing{
font-family: 'Defectica';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 44px;
color: #CED6E3;
margin-top: -269px;
}

.case_a{
	border: 1px solid #CED6E3;
	border-radius: 5px;
	padding: 5px;
	text-decoration: none;
	color: #CED6E3;
}





@media(max-width:767px){
	.landing{
		margin-top: -40px;
	}
}

.contacts{
	height: 1000px;
	background: url(../img/Line%202.png) 74% 48% no-repeat, url(../img/Line%202.png) 74% 95% no-repeat,  url(../img/Line%204.png) 45% 140% no-repeat,  url(../img/Line%204.png) 83% 160% no-repeat;
	
}

.contactss{
color:#CED6E3;
font-family: 'Defectica';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 106px;
text-transform: uppercase;
padding-top: 250px;

}

.zxc{
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 30px;
color: #CED6E3;
margin-left: 55%;
}

.contacts input{
background: none;
	border-bottom: 1px solid #CED6E3;
	color: #CED6E3;
	width: 450px;
}
.name{
	padding-top: 140px;

}

.phone{
	padding-top:50px
}
.text_input{
	padding-top:50px
}

.text_inputTwo{
	padding-top: 70px;
}

.no{
	border: 1px solid #CED6E3;
	width: 120px !important;
	padding: 4px;
	margin-top: 40px;
}

.main_icon{
	color:#CED6E3; 
	margin-top: -256px;
}

.main_icon{
	padding-top: 40px;
}

@media(max-width: 1199px){
	
	.second_Input li a{
		margin-left: 2px;
	}	
	.landing, .case{
		padding-top: 70px;
		
	}
	.contactss{
		text-align: center;
	}
	
	.zxc{
		margin-left: 0%;
		text-align: center;
	}
	.case{
		margin-top: -300px;
	}
}


	
	
	@media(max-width:1399px){
		.servies{
		background: none;
		background: url(../img/Group%20333.png) 5% 40%/auto 25% no-repeat, url(../img/Group%2044.png) 35% 55%/auto 25% no-repeat, url(../img/Group%2055.png) 65% 40%/auto 25% no-repeat, url(../img/Group%2066.png) 95% 55%/auto 25% no-repeat; 
	}
	}
	
		
	

@media(max-width: 1098px){
.services{
		background: none;
		background: url(../img/Group%20333.png) 30% 37%/auto 23% no-repeat, url(../img/Group%2044.png) 30% 75%/auto 23% no-repeat, url(../img/Group%2055.png) 64% 37%/auto 23% no-repeat, url(../img/Group%2066.png) 64% 75%/auto 23% no-repeat ; 
		
	}
	.services_p{
		font-size: 90px;
		text-align: center;
	}
	.case{
margin-top: 0px;}
}

@media(max-width:868px){
	.services{
		height: 2000px;
		background: none;
		background: url(../img/Group%20333.png) 50% 15%/auto 17% no-repeat, url(../img/Group%2044.png) 50% 40%/auto 17% no-repeat, url(../img/Group%2055.png) 50% 65%/auto 17% no-repeat, url(../img/Group%2066.png) 50% 90%/auto 17% no-repeat ; 
		
	}
		.services_p{
		font-size: 90px;
		text-align: center;
	}
}

.main_icon{
margin-top: -400px;	
}

.main_icon h6{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #0C5DA5;
padding-top: 20px;
	
}


footer{
	height: 300px;
background: red;
}

@media(max-width:1399px){

	.zxc{
		margin-left: 31%;
	}
	.case{
		margin-top: -130px;
	}
	.amd{
		margin-left: 140px;
	}
	.no{
		margin-left: 659px;
		display: none;
	}
	.amd{
	display: none;
	height: 1500px;
	}
	.contacts{
	background: none;
	height: 700px;	
	background-color: #0f0f0f;
	margin-top: 250px;

	}
	.contactss{
font-size: 70px;
		padding-top: 45px;
	}
	.main_icon{
		display: none;
	}

}

@media(min-width:1399px){
	.main_icon_two{display: none;}
}

.main_icon_two h6{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #0C5DA5;
}


.main_icon_two a{
text-decoration: none;
	color: #CED6E3;

}
.main_icon_two{
	color: #CED6E3;
	padding-top: 65px;
	margin-left: 7%;
}

.phone_email{
	margin-top: -129px;
}

.insta{
	margin-top: -143px;
	margin-left: -50px;
}

.tg{
	margin-left: 60px;
}

